.container{
    font-family:cursive;
    font-size: 350%;
    margin-top: 2%;
    margin-left: 27%;
    margin-right: 20%;

}
.dice{
    display:inline-flex;
    gap: 20%;
    margin-left: 30%;
    margin-right: 30% ;
}
.text{
    font-size:x-large;
    margin-left: 35%;
}